!!!
doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title= title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    //
       Place favicon.ico and apple-touch-icon.png in the root directory

    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/ui_custom.css')
    link(rel='stylesheet', href='/css/jgrid.css')

    block scripts
        script(src='/js/nodeerp.js')

        script(src='/js/lib/jquery-1.8.2.min.js')
        script(src='/js/lib/modernizr-2.6.1.min.js')
        script(src='/js/lib/jquery-ui-1.8.24.custom.min.js')

        script(src='/js/lib/knockout-2.1.0.js')
        script(src='/js/lib/knockout.bindings.autocomplete.js')

        script(src='/js/lib/jgrid.js')
        script(src='/js/lib/jview.js')
        script(src='/js/lib/jdialog.js')


        script(src='/js/viewmodel/application.js')

       // script(src='/socket.io/socket.io.js')



    div#fixedContainer
      div.centerContainer
        div#adminContainer
           div.logo
              img(src='/images/logo.png')
           div.usersContainer
              ul
                li: a(href='#')
                    img(src='/images/settings.png')
                li: a(href='#')
                    img(src='/images/favorites.png')
                li: a(href='#')
                    img(src='/images/mail.png')
                    span.numberMail 10
                li: a(href='#')
                    img(src='/images/account.png')
                    span.userName #{username}
    div#companyContainer.ui-helper-clearfix
        div.centerContainer
            div.company
                span.companyName #{company}
            div.notificationContainer
                ul
                    li
                        a.numberTask(href='#') 50
                        span pending tasks
                    li
                        a.numberTask(href='#') 230
                        span pending tasks
                    li
                        a.numberTask(href='#') 43
                        span pending tasks
                    li
                        div.searchContainer
                            form#searchForm(method='post',action='/search/')
                                fieldset
                                    input#search-keyword.round.button.searchImg.imageRight(type='text', name='search', placeholder='Search...',style='width: 200px; margin-left:100px;' )
                                    input(type='hidden', value='submit')
    div.centerContainer#container
            div#verticalMenu
                div.widgetPanel
                    div.widgetHead.ui-toolbar.ui-widget-header.ui-corner-bl.ui-corner-br.ui-helper-clearfix
                        div.actionBar
                            ul
                                li
                                    a#formsTab.active(href='#')
                                        img(src='/images/forms.png')
                                li
                                    a#reportTab(href='#')
                                        img(src='/images/reports.png')
                                li
                                    a#flowTab(href='#')
                                        img(src='/images/flow.png')
                                li
                                    a#settingsTab(href='#')
                                        img(src='/images/settingmenu.png')
                    div.widgetContent
                        div.sideMenu
                            ul
                                -for (var id in sidemenu)
                                    - var item = sidemenu[id]
                                    li
                                        a#contactMenuItem.active(href='/#{id}')
                                            span #{item.name}


            div#contentContainer
                  body!= body
                  //if lt IE 7
                      p.chromeframe
                        | You are using an outdated browser.
                        a(href='http://browsehappy.com/') Upgrade your browser today
                        | or
                        a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
                        | to better experience this site.
                    //
    div#footerContainer
    div#notificationContainer
    //
       Google Analytics: change UA-XXXXX-X to be your site's ID.
    script
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));